<div [formGroup]="parent">
    <div formArrayName="stock">
        <div *ngFor="let item of stocks;let i=index;">
            <div [formGroupName]="i">
                <div>Name:: {{getProduct(item.value.product_id)?.name}}</div>
                <div>Price:: {{getProduct(item.value.product_id)?.price | currency:'USD':'symbol-narrow'}}</div>
                <input
                class="input-box" 
                 type="number"
                 step="10"
                 min="10"
                 max="1000"
                 formControlName="quantity"
                 >
                 <button mat-raised-button type="button" (click)="onRemove(item,i)">Remove</button>
            </div>
        </div>
    </div>
</div>